h1 {
    color: #267ace;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 5px;
  }

.btn-success{
  margin-left: 14px ;
  width: 80px;
  height: 39px;
}


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.container{
  max-width:1200px;
  margin: 0 auto;
}